@import url("https://fonts.google.com/specimen/Roboto");


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

head {
    background-color: #EA938E;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 24px 24px 24px;
    background-color: #7B9E70;
    color: aliceblue;
    margin-top: auto;
}

nav {
    border-bottom:  1px solid black;
    padding: 16px;
    background-color: #EA938E;
}

#main-page {
    color: white;
    font-weight: bold;
}

h1 {
    color:#519E9A;
}

h3 {
    color: #83EBE5;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #419E64;
}

a:hover {
    color: green;
}


img {
    height: 200px;
}

ul {
    padding: 0;
    list-style-type: none;
}

tbody th {
    text-align: left;
    font-weight: normal;
}

.taco-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ing-table tr:nth-child(even) {
    background-color: lightgray;
}
